@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iosevka Charon Mono', monospace;
}

section{
    background-color: #f7f7fb;
}

.purple-text{
    color: #7c8cff;
}



.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.row{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 100px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.click{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
    box-shadow: #7c8cff 0px 0px 5px;
}

.click:active{
    transform: scale(.8);
    box-shadow: #7c8cff 0px 0px 5px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect::after{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--periwinkle::after{
    background-color: #7c8cff;
}

.link__hover-effect--white::after{
    background-color: white;
}

.link__hover-effect:hover::after{
    left: 0;
    width: 100%;
}

nav, .scroll, .header{
    opacity: 1;
    visibility: visible;
    transition: all 600ms ease;
}

.modal--open nav, .modal--open .scroll, .modal--open .header{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
}

/* 

SUNSET THEME

*/

.sunset-theme section{
    background-color: #1a1a1a;
}

.sunset-theme .purple-text,
.sunset-theme #theme-toggle {
    color: #ff7a59;
}

.sunset-theme .title,
.sunset-theme .header__description,
.sunset-theme .nav__link--anchor, 
.sunset-theme .section__title{
    color: #f9fafb;
}

.sunset-theme .mail__btn,
.sunset-theme .scroll {
    background-color: #1a1a1a;
    color: #ff7a59; 
}

.sunset-theme #logo, 
.sunset-theme #logo-footer{
    visibility: hidden;
}

.sunset-theme #logo-dark,
.sunset-theme #logo-footer-dark{
    visibility: visible;
}

.sunset-theme .header__icons a{
    background-color: #1a1a1a;
    color: #ff7a59;
}

.sunset-theme .project:hover .project__background{
    background-color: #ff7a59a9;
}

.sunset-theme .project{
    box-shadow: #ff7a59 0px 20px 80px 0px;
    background-color: #1a1a1a;
}

.sunset-theme .project__content,
.sunset-theme .project__title,
.sunset-theme .project__subtitle,
.sunset-theme .project__description,
.sunset-theme .project__icons,
.sunset-theme .project__link,
.sunset-theme .footer-link--anchor,
.sunset-theme .footer-copywrite,
.sunset-theme .modal__contact--title,
.sunset-theme .modal__contact--subtitle,
.sunset-theme .form__item--label,
.sunset-theme .modal__exit{
    color: #1a1a1a;
}

.sunset-theme footer,
.sunset-theme .modal__contact,
.sunset-theme .modal__overlay,
.sunset-theme .contact__input{
    background-color: #ff7a59;
}

.sunset-theme .modal__about{
    background-color: #1a1a1a;
    color: #f9fafb;
}

.sunset-theme .contact__btn{
    background-color: #1a1a1a;
    color: #ff7a59;
    border-color: #1a1a1a;
}

.sunset-theme .contact__btn:hover{
    background-color: transparent;
    color: #1a1a1a;
    border-color: #1a1a1a;
}

.sunset-theme .contact__input{
    border-bottom: 2px solid #1a1a1a;
    color: #1a1a1a;
    outline-color: #1a1a1a;
}

.sunset-theme .modal__overlay--loading,
.sunset-theme .modal__overlay--success{
    color: #1a1a1a;
    background-color: #ff7a59;
}

.sunset-theme .click:hover{
    box-shadow: #ff7a59 0px 0px 5px;
}

.sunset-theme .link__hover-effect--periwinkle::after{
    background-color: #ff7a59;
}

/* 

LANDING PAGE

*/

#landing-page{
    width: 100%;
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.header__title{
    color: #2d2f3a;
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.header__description{
    font-size: 24px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    line-height: 1.5;
    color: #2d2f3a;
}

.header__icons{
    display: flex;
    gap: 20px;
    font-size: 24px;
    cursor: pointer;
}

.header__icons a{
    background-color: #7c8cff;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.mail__btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    background-color: #f7f7fb;
    border-radius: 50%;
    padding: 8px;
    color: #7c8cff;
}


.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    font-size: 32px;
    background-color: #f7f7fb;
    color: #7c8cff;
    border-radius: 50%;
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll:hover{
    transform: translateX(-50%) scale(1.1);
    box-shadow: #7c8cff 0px 0px 5px;
}

.scroll:active{
    transform: translateX(-50%) scale(.8);
    box-shadow: #7c8cff 0px 0px 5px;
}


/* 

NAVIGATION 

*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    height: 100px;
    position: relative;
}

#logo{
    width: 75px;
    height: 75px;
    visibility: visible;
}

#logo-dark{
    visibility: hidden;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 12px;
    left: 19px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav__link--anchor{
    text-decoration: none;
    color: #2d2f3a;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

#theme-toggle{
    font-size: 24px;
    cursor: pointer;
    color: #7c8cff;
}

/* 

MODAL

*/

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    z-index: 10;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    z-index: 60;
    box-shadow: #7c8cff 0px 8px 32px 0px;
    visibility: visible;
}

body.sunset-theme.modal--open .modal{
  box-shadow: 0px 8px 32px 0px #ff7a59 !important;
}

.modal__half{
    width: 50%;
    padding: 40px;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal--open .modal__about{
    transform: translateX(0%);
}

.modal--open .modal__contact{
    transform: translateX(0%);
}

.modal__about{
    background-color: #f7f7fb;
    color: #2d2f3a;
    transform: translateX(-110%);
}

.modal__contact{
    background-color: #7c8cff;
    color: white;
    position: relative;
    transform: translateX(110%);
    z-index: 0;
}

.modal__about--title{
    font-size: 32px;
    margin-bottom: 20px;
}

.modal__about--subtitle{
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.modal__about--description{
    font-size: 16px;
    line-height: 1.5;
}

.icons{
    display: flex;
    justify-content: space-around;
    gap: 32px;
    font-size: 24px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.icon{
    width: 40px;
    height: 40px;
}

.icon__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.icon__wrapper:hover .icon__description{
    transform: scale(1);
    transition: all 300ms ease;
}

.icon__wrapper:hover .icon{
    transform: scale(.8);
    transition: all 300ms ease;
}

.icon__description{
    margin-top: 8px;
    position: absolute;
    bottom: -20px;
    transform: scale(0);
}

.modal__contact--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.modal__contact--title{
    font-size: 32px;
    margin-bottom: 20px;
}

.modal__contact--subtitle{
    font-size: 14px;
    margin-bottom: 20px;
}

.asterisk{
    color: red;
}

.contact__input{
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    background-color: #7c8cff;
    border: none;
    border-bottom: 2px solid white;
    font-size: 14px;
    color: white;
    outline-color: white;
}

.contact__message{
    width: 100%;
    height: 100px;
}

#contact__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.contact__btn{
    width: 100%;
    padding: 8px;
    background-color: white;
    color: #7c8cff;
    border: 1px solid white;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    border-radius: 6px;
    transition: all 300ms ease;
}

.contact__btn:hover{
    border-color: white;
    background-color: transparent;
    color: white;
}

.modal__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7c8cff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.modal__overlay--loading{
    font-size: 80px;
}

.fa-spinner{
    animation: spinner 1s linear infinite;
}

@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.modal__overlay--success{
    text-align: center;
    padding: 24px;
    font-size: 42px;
}

.modal__overlay--visible{
    display: flex;
    z-index: 2;
}

.modal__exit{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

/* 

PROJECTS

*/

.section__title{
    font-size: 48px;
    margin-bottom: 60px;
}

.project__list{
    list-style: none;
}

.project{
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 32px;
    box-shadow: #7c8cff 0px 20px 80px 0px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project__img{
    width: 100%;
    border-radius: 8px;
}

.project__content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: absolute;
    bottom: 150px;
    left: 90px;
    width: 100%;
    max-width: 500px;
    display: none;
    color: #2d2f3a;
}

.project:hover .project__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7c8cffa9;
    transition: background-color 0.8s ease;
    border-radius: 8px;
    z-index: 2;
}

.project:hover .project__content{
    display: flex;
    z-index: 3;
    animation: slide-up 0.8s ease forwards;
}

.project:hover .project__img{
    filter: blur(5px);
    transition: filter 0.3s ease;
    opacity: 0.7;
}

@keyframes slide-up{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.project__title{
    font-size: 32px;
    margin: 10px 0;
}

.project__subtitle{
    font-size: 24px;
    margin: 8px 0;
}

.project__description{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}

.project__icons{
    display: flex;
    gap: 10px;
}

.project__link{
    font-size: 24px;
    color: black;
}

/* 

FOOTER

*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: #7c8cff;
    color: white;
    height: 35vh;
    position: relative;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 24px 0;
    list-style: none;
}

.footer-link{
    margin: 0 10px;
}

.footer-link--anchor{
    text-decoration: none;
    color: white;
}

#logo-footer{
    width: 100px;
    height: 100px;
}

#logo-footer-dark{
    visibility: hidden;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
}

/* 

shapes

*/

.shape--coral{
    visibility: hidden;
}

.shape--0 {
    position: fixed;
    top: 15%;
    left: 5%;
    border-radius: 50%;
    z-index: 0;
}

.shape--1 {
    position: fixed;
    top: 20%;
    left: 80%;
    border-radius: 50%;
    z-index: 0;
}

.shape--2 {
    position: fixed;
    top: 80%;
    left: 10%;
    border-radius: 50%;
    z-index: 0;
}

.shape--3 {
    position: fixed;
    top: 80%;
    left: 70%;
    border-radius: 50%;
    z-index: 0;
}

.shape--4 {
    position: fixed;
    top: 32%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
}

.shape--5 {
    position: fixed;
    top: 26%;
    left: 30%;
    border-radius: 50%;
    z-index: 0;
}

.shape--6 {
    position: fixed;
    top: 60%;
    left: 80%;
    border-radius: 50%;
    z-index: 0;
}

.shape--7 {
    position: fixed;
    top: 50%;
    left: 10%;
    border-radius: 50%;
    z-index: 0;
}

.shape--8 {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 0;
}